.Banner {
    text-align: center;
    font-family: "Lucida Console", monospace;
    font-size: 32px;
    color:aliceblue;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .flipped{
    margin-left: 12px;
    margin-right: 36px;
    transform: scaleX(-1);
  }

  .img{
    margin-left: 36px;
    margin-right: 12px;
  }