.Banner {
    text-align: center;
    font-family: "Lucida Console", monospace;
    font-size: 32px;
    color:aliceblue;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .flipped{
    transform: scaleX(-1);
  }